<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Chau - ejecucion de proyectos </title>
    <!--link de css-->
    <link rel="stylesheet" href="/src/styles/styles.css">
    <!--link de JS-->
    <script src="/src/scripts/main.js"></script>
    <!-- CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- JavaScript de Bootstrap (con Popper incluido) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container">
        <header>

            <!--Carrusel de imagenes detras del logo-->
            <div id="carrusel">
                <div class="carrusel contenedor">
                    <div class="carrusel__slide">
                        <img src="/src/assets/photos/photo1.jpg" alt="Proyecto 1">
                        <img src="/src/assets/photos/photo2.jpg" alt="Proyecto 2">
                        <img src="/src/assets/photos/photo3.jpg" alt="Proyecto 3">
                        <img src="/src/assets/photos/photo4.jpg" alt="Proyecto 4">
                        <img src="/src/assets/photos/photo5.jpg" alt="Proyecto 5">
                    </div>
                </div>
            </div>
            <!--Logo de la empresa-->    
            <div class = "logo">
                <img src="/src/assets/logo.png" alt="logo chau se">
            </div>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
        <section id="inicio">
            <h1>Bienvenidos a SE Chau</h1>
            <h1>HOLA MUNDO</h1>
            <p>Especialistas en ejecucion de proyectos institucionales y empresariales</p>
        </section>
    
        <section id="servicios">
            <h2>Nuestros servicios</h2>
            <p>Ofrecemos soluciones integrales para la gestion y ejecucion de proyectos</p>
        </section>
        
        <section id="nosotros">
            <h2>Quienes somos</h2>
            <p>Somos un equipo de profesionales con amplia experiencia en la gestion y ejecucion de proyectos</p>
        </section>
    
        <div class="row contact-img">
            <div class="col-12 col-md-6">
                <div>
                    <img src="/src/assets/photos/Imagen de WhatsApp 2025-03-24 a las 17.40.31_15da0c94.jpg" alt="">
                </div>
            </div>
        
            <div id="contacto"
                class="col-12 col-md-6">
                <h2 class="contact-title">Contacto</h2>
                <form id="contactForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" required name="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="email" required name="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                    </div>
        
                    <button id="submit_contactForm" type="submit" class="btn btn-primary">Enviar </button>
                </form>
            </div>
        </div>
        
    
    </div>
    <div>
        <footer> 2024 SE Chau. Todos los derechos reservados</footer>
    </div>
    
</body>
</html>